*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 2%;
}
.cargaAlumno_info{
    height: 3.75rem;
    padding: 1%;
    border: .1875rem dotted cadetblue;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#tablaAlumnos{
    height: 3.75rem;
    width: 100%;
    padding: 1%;
    border: .1875rem dotted cadetblue;
}
td{
    text-align: center;
}